@use "./variables";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: variables.$link_color;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto 0 auto;
}
