<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../public/stylesheets/core.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <style type="text/css">
    textarea {
        background-image: url("/images/pink.jpg");
        resize: none;
        /* overflow: hidden; */
        /* background-repeat: no-repeat; */
        /* background-position: top center; */
        font-size:24pt;
        width: 400px;
        height: 300px;
    }
    </style>
</head>
<body>
    <p>文字を入力してください。</p>
    <form action="/new" method="post">
        <textarea type="text" name="sentence" placeholder="ここに送信したいテキストを入力ください"></textarea>
        <button type="submit" name="button">送信する</button>
    </form>

    <!-- イメージ -->
    <!-- ユーザが入力した文字をサーバに保存する用のボタンがある -->
    <!-- シンプルに画像とテキストを合成したい -->
    <!-- ユーザが入力したテキストにIDを振る（連番）。画像を保存するblob or URL（テキスト） -->

    <!-- Todo: Node.js -->
</body>
</html>