<!DOCTYPE html>
<html>
<head>
    <title>showLetter</title>
    <style type="text/css">
    textarea {
        background-image: url("/images/pink.jpg");
        resize: none;
        /* overflow: hidden; */
        /* background-repeat: no-repeat; */
        /* background-position: top center; */
        font-size:24pt;
        width: 400px;
        height: 300px;
    }
    </style>
</head>
<body>
    <p>
        手紙が表示されます。
    </p>
    <textarea readonly>a</textarea>
    <li><a href="./writeLetter">writeLetter</a></li>
</body>
</html>