<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style type="text/css">
    textarea {
        background-image: url("/images/pink.jpg");
        resize: none;
        /* overflow: hidden; */
        /* background-repeat: no-repeat; */
        /* background-position: top center; */
        font-size:24pt;
        width: 400px;
        height: 300px;
    }
    </style>
</head>
<body>
    <p>
        手紙が表示されます!
    </p>
    <div class="container">
          <div class="card">
              <div class="card__content">
                <p><%= letter[0].subject %></p>
                <textarea readonly><%= letter[0].body %></textarea>
              </div>
          </div>
    </div>
    <a href="/letters/new">新規投稿</a>
</body>
</html>