<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
    textarea {
        background-image: url("/images/pink.jpg");
        resize: none;
        /* overflow: hidden; */
        /* background-repeat: no-repeat; */
        /* background-position: top center; */
        font-size:24pt;
        width: 400px;
        height: 300px;
    }
    </style>
</head>
<body>
    <p>
        文字を入力してください。
    </p>
    <textarea id = "user_input_text">a</textarea>
    <li><a href="./showLetter">showLetter</a></li>

    <!-- イメージ -->
    <!-- ユーザが入力した文字をサーバに保存する用のボタンがある -->
    <!-- シンプルに画像とテキストを合成したい -->
    <!-- ユーザが入力したテキストにIDを振る（連番）。画像を保存するblob or URL（テキスト） -->

    <!-- Todo: Node.js -->
</body>
</html>